/* @group Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
/* remember to define visible focus styles! 
:focus {
	outline: ?????;
} */
/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* @end */
/*---------------------------------------------------
    LESS Elements 0.6
  ---------------------------------------------------
    A set of useful LESS mixins by Dmitry Fadeyev
    Special thanks for mixin suggestions to:
      Kris Van Herzeele,
      Benoit Adam,
      Portenart Emile-Victor,
      Ryan Faerman

    More info at: http://lesselements.com
-----------------------------------------------------*/
/* @group Typography */
h1 {
  overflow: visible;
  font-size: 30px;
  margin-bottom: 10px;
}
h2 {
  margin-bottom: 7px;
  font-size: 20px;
}
em {
  font-style: italic;
}
strong {
  font-weight: bold;
}
/* @end */
/* @group Structure */
body {
  background: purple;
}
#wrapper {
  background: white;
}
.panel {
  position: relative;
  margin: 0 auto;
  width: 80%;
  min-width: 920px;
  padding-top: 1px;
  display: none;
  min-height: 500px;
  overflow: visible;
}
.panel.here {
  display: block;
}
#controls {
  position: absolute;
  color: white;
  width: 100%;
  top: 0;
  left: 0;
  height: 50px;
  padding-top: 10px;
  background: rgba(0, 0, 0, 0.6);
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0.5em;
  -webkit-border-bottom-left-radius: 0.5em;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0.5em;
  -moz-border-radius-bottomleft: 0.5em;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
  border-top-left-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  font-family: Verdana, Helvetica, Arial, 'sans-serif';
  font-size: .75em;
}
#controls .chzn-container,
#controls input {
  color: black;
  margin-right: 5px;
}
.content_main {
  position: relative;
  margin: 100px auto 0px auto;
}
.control {
  display: none;
}
.control.active {
  display: block;
}
#control_option {
  float: left;
  margin: 0 15px;
}
#h1lh,
#h2lh,
#plh {
  width: 50px;
}
#h1color,
#h2color,
#pcolor {
  width: 60px;
}
.content_main p {
  margin-bottom: .8em;
}
#h1_select,
#h2_select,
#p_select,
#h1_select_chzn,
#h2_select_chzn,
#p_select_chzn,
.chzn-container,
.element,
.font-family,
.size,
.lh,
.color {
  float: left;
  margin-right: 10px;
}
.element label,
.font-family label,
.size label,
.lh label,
.color label,
#bg_sec label {
  display: block;
  margin-bottom: 3px;
}
.element {
  padding: 0 6px 0 0;
  margin: 0 10px 0 0;
  border-right: solid 1px white;
}
.element label {
  margin-left: 15px;
}
#control_option_chzn {
  margin-left: 15px;
}
.hide_btn {
  padding: 5px 10px;
  margin-top: 15px;
}
#hide_controls {
  position: absolute;
  right: 20px;
  top: 20px;
}
/* @end */
/* @group Navigation */
footer {
  margin: 0 auto;
  padding: 0;
  background: red;
  width: 80%;
  min-width: 920px;
}
#panel_nav {
  width: 80%;
  min-width: 900px;
  margin: 0 auto;
}
#panel_nav li {
  float: left;
  display: inline;
}
#panel_nav a {
  display: block;
  padding: 5px 25px;
}
#panel_nav a.here {
  background: white;
}
/* @end */
/* @group Forms */
/* @group Form fixes */
/* from the normalize section of the HTML5 boilerplate */
label {
  cursor: pointer;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button,
input {
  line-height: normal;
  *overflow: visible;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
}
input[type="search"] {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
/* @end */
/* @end */
/* @group Classes/specific features */
#logo {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  width: 100px;
  height: 100px;
  background: orange;
  float: left;
}
/* @end */
/* @group Helper Classes */
/* =============================================================================
   Non-semantic helper classes
   Please define your styles before this section.
   ========================================================================== */
/* For image replacement */
.ir {
  display: block;
  text-indent: -999em;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}
.ir br {
  display: none;
}
/* Hide for both screenreaders and browsers:
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden {
  display: none;
  visibility: hidden;
}
/* Hide only visually, but have it available for screenreaders: by Jon Neal.
  www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
/* Hide visually and from screenreaders, but maintain layout */
.invisible {
  visibility: hidden;
}
/* Contain floats: nicolasgallagher.com/micro-clearfix-hack/ */.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  zoom: 1;
}
.group:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/*for ie6*/
* html .group {
  height: 1%;
}
/*for ie7*/
*:first-child + html .group {
  min-height: 1px;
}
/* @end */
