/*padding for elements*/
/*Based on the Eric Meyer reset*/
/* @group Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
/* remember to define visible focus styles! 
:focus {
	outline: ?????;
} */
/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* @end */
/*---------------------------------------------------
    LESS Elements 0.6
  ---------------------------------------------------
    A set of useful LESS mixins by Dmitry Fadeyev
    Special thanks for mixin suggestions to:
      Kris Van Herzeele,
      Benoit Adam,
      Portenart Emile-Victor,
      Ryan Faerman

    More info at: http://lesselements.com
-----------------------------------------------------*/
/* @group Typography */
h1 {
  overflow: visible;
  font-family: "Georgia", 'serif';
  font-size: 30px;
  margin-bottom: 15px;
  text-rendering: optimizeLegibility;
}
h1 {
  font-family: Ultra;
}
h2 {
  margin-bottom: 15px;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  font-family: "Trebuchet MS", 'sans-serif';
}
em {
  font-style: italic;
}
strong {
  font-weight: bold;
}
p {
  font-family: "Trebuchet MS", 'sans-serif';
}
#wrapper p {
  padding-bottom: 10px;
}
.warning {
  background: rgba(255, 155, 155, 0.8);
  padding: 15px;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
/* @end */
/* @group Structure */
body {
  background: #292929;
}
#wrapper {
  background: white;
}
.panel {
  margin: 0 auto;
  width: 80%;
  padding-top: 15px;
  display: none;
  min-height: 400px;
  padding-bottom: 50px;
}
.panel.here {
  display: block;
}
#content_main {
  overflow: scroll;
}
#nav_controls {
  background: #292929;
  width: 80%;
  margin: -30px auto 0;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
#controls {
  /*position: absolute;*/

  clear: both;
  color: white;
  width: 100%;
  /*bottom: -20px;*/

  /*left: 0;*/

  /*height: 50px;*/

  padding-top: 10px;
  /*		background: rgba(0,0,0,.6);
		background: #292929;*/

  font-family: Verdana, Helvetica, Arial, 'sans-serif';
  font-size: .75em;
}
#controls .chzn-container,
#controls input {
  color: black;
  margin-right: 5px;
}
.control {
  display: none;
}
.control.active,
.no-js .control {
  display: block;
}
#control_option {
  float: left;
  /*margin: 0 15px;*/

}
#h1lh,
#h2lh,
#plh {
  /*width:50px;*/

}
#h1color,
#h2color,
#pcolor {
  width: 60px;
}
#h1_select,
#h2_select,
#p_select,
#h1_select_chzn,
#h2_select_chzn,
#p_select_chzn {
  /*float: left;*/

  clear: both;
  margin-right: 5px;
  margin-bottom: 11.25px;
  width: 100%;
}
.element,
.font-family,
.size,
.lh,
.color {
  margin-left: 15px;
  margin-bottom: 11.25px;
}
.element label,
.font-family label,
.size label,
.lh label,
.color label,
#bg_sec label {
  display: block;
  margin-bottom: 3px;
}
.element {
  padding: 0 0 11.25px 0;
  margin: 0 15px 11.25px 15px;
  border-bottom: solid 1px white;
  width: 90%;
}
#control_option_chzn {
  font-family: Verdana, 'sans-serif';
}
.hide_btn {
  padding: 5px 10px;
  margin-top: 15px;
  margin-left: 15px;
}
#hide_controls {
  position: absolute;
  display: block;
  text-align: center;
  line-height: 24px;
  font-size: 2.5em;
  text-decoration: none;
  right: 20px;
  top: 12px;
  text-indent: 1px;
  font-famliy: Verdana, Helvetica, Arial, 'sans-serif';
  color: white;
  width: 30px;
  height: 30px;
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  border-radius: 10%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid white;
  background: #7d7e7d;
  /* Old browsers */

  background: -moz-linear-gradient(top, #7d7e7d 0%, #0e0e0e 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7d7e7d), color-stop(100%, #0e0e0e));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #7d7e7d 0%, #0e0e0e 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #7d7e7d 0%, #0e0e0e 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #7d7e7d 0%, #0e0e0e 100%);
  /* IE10+ */

  background: linear-gradient(top, #7d7e7d 0%, #0e0e0e 100%);
  /* W3C */

}
/* @end */
/* @group Navigation */
.footer_wrapper {
  background: #292929;
  /* Old browsers */

}
footer {
  margin: 0 auto;
  padding: 0;
  clear: both;
  width: 80%;
  font-family: Verdana, Helvetica, Arial, 'sans-serif';
  /*min-width: @pagewidth;*/

}
footer p {
  margin: 15px 0;
  color: white;
}
footer p a {
  color: white;
}
#panel_nav {
  font-size: .8em;
  clear: both;
  margin: 15px 0;
}
#panel_nav li {
  float: left;
  display: inline;
}
#panel_nav a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 8px 20px;
}
#panel_nav a.here {
  background: #666;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
/* @end */
/* @group Forms */
/* @group Form fixes */
/* from the normalize section of the HTML5 boilerplate */
label {
  cursor: pointer;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button,
input {
  line-height: normal;
  *overflow: visible;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
}
input[type="search"] {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
/* @end */
/* @end */
/* @group Classes/specific features */
#logo {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  width: 100px;
  height: 100px;
  background: orange;
  float: left;
}
/* @end */
/* @group Helper Classes */
/* =============================================================================
   Non-semantic helper classes
   Please define your styles before this section.
   ========================================================================== */
/* For image replacement */
.ir {
  display: block;
  text-indent: -999em;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}
.ir br {
  display: none;
}
/* Hide for both screenreaders and browsers:
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden {
  display: none;
  visibility: hidden;
}
/* Hide only visually, but have it available for screenreaders: by Jon Neal.
  www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
/* Hide visually and from screenreaders, but maintain layout */
.invisible {
  visibility: hidden;
}
/* Contain floats: nicolasgallagher.com/micro-clearfix-hack/ */.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  zoom: 1;
}
.group:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/*for ie6*/
* html .group {
  height: 1%;
}
/*for ie7*/
*:first-child + html .group {
  min-height: 1px;
}
/* @end */
/* =============================================================================

   PLACEHOLDER Media Queries for Responsive Design.

   These override the primary ('mobile first') styles

   Modify as content requires.

   ========================================================================== */
@media only screen and (min-width: 480px) {
  .panel {
    min-height: 320px;
  }
  #content_main {
    background: red;
  }
  #h1_select,
  #h2_select,
  #p_select,
  #h1_select_chzn,
  #h2_select_chzn,
  #p_select_chzn,
  .chzn-container,
  .element,
  .font-family,
  .size,
  .lh,
  .color {
    /*	float: left;
  	clear:none;
  	margin-right: @spacing;
  	margin-left: @spacing;*/
  
  }
  .control {
    clear: both;
  }
}
@media only screen and (min-width: 768px) {
  #content_main {
    background: green;
  }
  .panel {
    padding-top: 80px;
  }
  #control_option {
    float: left;
    margin: 0 15px;
  }
  #h1_select,
  #h2_select,
  #p_select,
  #h1_select_chzn,
  #h2_select_chzn,
  #p_select_chzn,
  .chzn-container,
  .element,
  .font-family,
  .size,
  .lh,
  .color {
    /*	float: left;
  	clear:none;
  	margin-right: @spacing;*/
  
    /*margin-left: @spacing;*/
  
  }
  .control {
    /*margin-left: 170px;*/
  
    clear: none;
  }
  .element {
    padding: 0 6px 0 0;
    margin: 0 10px 0 15px;
    width: auto;
  }
  #h1lh,
  #h2lh,
  #plh {
    width: 50px;
  }
  #panel_nav {
    float: right;
    clear: none;
  }
  footer p {
    float: left;
  }
}
@media only screen and (min-width: 960px) {
  #content_main {
    background: orange;
  }
  .panel {
    min-width: 920px;
    padding-top: 80px;
    min-height: 320px;
  }
  #content_main {
    overflow: visible;
  }
  #nav_controls {
    min-width: 920px;
    margin: -30px auto 0 auto;
  }
  #control_option {
    float: left;
    margin: 0 15px;
  }
  .chzn-container,
  .font-family,
  .size,
  .lh,
  .color {
    float: left;
    clear: none;
    margin-right: 15px;
    margin-left: 0;
  }
  #h1_select,
  #h2_select,
  #p_select,
  #h1_select_chzn,
  #h2_select_chzn,
  #p_select_chzn {
    margin-left: 0;
  }
  #h1_select,
  #h2_select,
  #p_select,
  #h1_select_chzn,
  #h2_select_chzn,
  #p_select_chzn,
  .chzn-container,
  .element,
  .font-family,
  .size,
  .lh,
  .color {
    float: left;
    clear: none;
    margin-right: 15px;
  }
  .element {
    padding: 0 6px 0 0;
    margin: 0 10px 0 15px;
    border-right: solid 1px white;
    border-bottom: none;
    width: 145px;
  }
  .element label {
    margin-left: 0;
  }
}
