@color: #110000;
@fonts: Georgia, "Times New Roman", serif;

form {
  color: @color;
  font-family: @fonts;
}

section {
	background: ;
}


@import 'reset.less';
@import 'elements.less';
/* @group Typography */



/* @end */

/* @group Structure */

body {
	position: relative;

}
.panel {
	position:relative;
	margin:0 auto;
	width: 80%;
	min-width: 900px;
	padding-top: 1px;
	display: none;
	min-height: 500px;
}

.panel.here {
	display: block;
}

#controls {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	height: 50px;
	padding-top: 15px;
	background: rgba(0,0,0,.6);
	.border-radius(0,.5em,.5em,0);
	
}

.content_main {
	
	margin: 100px auto 20px auto;
	}

.control {
	display:none;
	font-size: .875em;
}
.control.active {
	display:block;
}

#control_option {
	float:left;
	margin: 0 15px;
}


#h1lh, #h2lh, #plh{
	width:50px;
}
#h1color, #h2color, #pcolor {
	width: 60px;
}

.content_main p {
	margin-bottom: .75em;
}

#h1_select, #h2_select, #p_select,
#h1_select_chzn, #h2_select_chzn, #p_select_chzn, .chzn-container,
 .size, .lh, .color {
	float: left;
}

.size label, .lh label, .color label {
	display: block;
}

.hide_btn {
	padding: 5px 10px;
}

#hide_controls {
	position:absolute;
	right: 20px;
	top: 20px;
}


/* @end */


/* @group Navigation */
nav {
	background: red;
}

#panel_nav {
	width: 80%;
	min-width: 900px;
	margin: 0 auto;
}



/* @end */

/* @group Forms */

@import 'form-fixes.less';




/* @end */

/* @group Classes/specific features */



/* @end */

@import "helpers.less";