@color: #110000;
@fonts: Georgia, "Times New Roman", serif;
@sans-serif: Verdana, Helvetica, Arial, 'sans-serif';
@pagewidth: 920px;





@import 'reset.less';
@import 'elements.less';
/* @group Typography */

h1 {
	overflow:visible;
	font-size: 30px;
	margin-bottom: 10px;
}

h2 {
	margin-bottom: 7px;
	font-size: 20px;
}

em {
	font-style: italic;
}

strong { 
	font-weight: bold;
}

/* @end */

/* @group Structure */

body {
	
	background: purple;
}

#wrapper {
background: white;
}
.panel {
	position:relative;
	margin:0 auto;
	width: 80%;
	min-width: @pagewidth;
	padding-top: 1px;
	display: none;
	min-height: 500px;
	overflow: visible;
}

.panel.here {
	display: block;
}

#controls {
	position: absolute;
	color: white;
	width: 100%;
	top: 0;
	left: 0;
	height: 50px;
	padding-top: 10px;
	background: rgba(0,0,0,.6);
	.border-radius(0,.5em,.5em,0);
	font-family: @sans-serif;
	font-size: .75em;
	
}

#controls .chzn-container, #controls input {
	color: black;
	margin-right: 5px;
}

.content_main {
	position: relative;
	margin: 100px auto 0px auto;
	}

.control {
	display:none;

}
.control.active {
	display:block;
}

#control_option {
	float:left;
	margin: 0 15px;
}


#h1lh, #h2lh, #plh{
	width:50px;
}
#h1color, #h2color, #pcolor {
	width: 60px;
}

.content_main p {
	margin-bottom: .8em;
}

#h1_select, #h2_select, #p_select,
#h1_select_chzn, #h2_select_chzn, #p_select_chzn, .chzn-container,
 .element, .font-family, .size, .lh, .color {
	float: left;
	margin-right: 10px;
}

.element label, .font-family label,.size label, .lh label, .color label,#bg_sec label {
	display: block;
	margin-bottom:3px;
}

.element {
	padding:0 6px 0 0;
	margin:0 10px 0 0;
	border-right: solid 1px white;
}
.element label {
	margin-left: 15px;
}

#control_option_chzn {
	margin-left: 15px;
}
.hide_btn {
	padding: 5px 10px;
	margin-top: 15px;
}

#hide_controls {
	position:absolute;
	right: 20px;
	top: 20px;
}


/* @end */


/* @group Navigation */
footer {
	margin: 0 auto;
	padding: 0;
	background: red;
	width: 80%;
	min-width: @pagewidth;
	
}

#panel_nav {
	width: 80%;
	min-width: 900px;
	margin: 0 auto;
}

#panel_nav li {
	float: left;
	display:inline;
}
#panel_nav a {
	display: block;
	padding: 5px 25px;
}

#panel_nav a.here {
	background: white;
}
/* @end */

/* @group Forms */

@import 'form-fixes.less';




/* @end */

/* @group Classes/specific features */
#logo {
	.rounded(50%);
	width: 100px;
	height: 100px;
	background: orange;
	float: left;
}


/* @end */

@import "helpers.less";